body{
	background-color: #02010a;
	font-family: 'Dancing Script';
	margin:0;
	padding: 0;
}

#contenido {
	margin: 0;
	padding: 0;
	width: 100%;
}

#contenido{
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}

#contenido header {
    height: 2em;
    background-color: #5b7989;
    border-radius: 10px 10px 0px 0px;
    color: fff;
    height: 18vh;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-flow: row wrap;
		flex-flow: row wrap;
		margin: 0;
		padding: 0;
		width: 100%;
}

header>div{
	box-sizing: border-box;
}



header #titulo{
	margin-top: auto;
	margin-bottom: auto;
	padding-left: 2%;
	width: 70%;
	text-shadow: 2px 2px 2px #02010a;

}

header #menu{
	width: 30%;
	text-align: center;
	margin-top: auto;
	margin-bottom: auto;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}

header #menu>div{
	width: 33.3%;
}

header #menu a{
	color: fff;
	font-style: normal;
}

header #menu a:hover{
	font-style: normal;
	text-decoration: none;
}

#contenido section{
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	margin: 0;
	padding: 0;
	width: 100%;
}

#contenido section>div
{
	box-sizing: border-box;

}

#imagen_central{
	background-color: #82c3a6;
	padding: 2% 5% 2% 5%;
	width: 100%;
}

.demas_imagenes{
	width: 50%;
	background-color: #d5c75f;
}

#imagen_central img{
	width: 100%;
}

@media (min-width: 900px) {
	#contenido{
		width: 900px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (max-width: 900px) {
	#contenido{
		width: 100%;
	}
}
