#contenido{
  animation: slidein 1s;
}

@-webkit-keyframes slidein{
  0%{
    transform: translate(0px,150%);
  }
  60%{
    transform: translate(0px,-5%);
  }
  100%{
    transform: translate(0px,0px);
  }
}
